<main>
<div class="container">
    <div class="login">
        <h1>{{title}}</h1>
        <h2>{{subtitle}}</h2>

        <form>
            <label for="login">{{loginLabel}}</label>
            <input id="login" type="text" name="login" class="login-input">

            <label for="password">{{passwordLabel}}</label>
            <input id="password" type="password" name="password" class="pass-input">

            <button type="submit" class="enter-button">{{enterButtonText}}</button>

            <a href="/register">{{signUpText}}</a>
        </form>
    </div>
</div>
</main>